.slider {
  width: 100%;
}

.slick-slide {
  width: 100%;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-arrow {
  fill: inherit;
  height: 100%;
}

.slick-arrow::before {
  content: none !important;
}

.slick-dots li button::before {
  color: white;
  opacity: 0.75;
}

.slick-dots li.slick-active button::before {
  color: white;
}
